<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "basic" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

<%= link_to "Home", pages_home_path %>
<%= link_to "About", pages_about_path %>
<%= link_to "Help", pages_help_path %>
<%= link_to "Contact", pages_contact_path %>

</body>
</html>
